table {
    border-collapse: collapse; /* This ensures no space between cell borders */
}
body{
    background-color: rgb(0, 157, 255);
    color:cornsilk;
}
td {
    padding: 8px; /* Add some padding for cell content */
}

.area{
    margin: 50px;
}
.align{
    vertical-align:top;
}
.buttons{
    margin-left: 40%;
}
.goback{
    align-items: center;
    padding: 100px;
    background-color: blue;
}